@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: white;
}

a {
  text-decoration: none;
}

.btn {
  margin-bottom: 30px;
}
.btn button {
  background-color: #d9c485;
  border: none;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}
.btn button:hover {
  background-color: #fff;
  color: #d9c485;
  outline: 2px solid #d9c485;
}

.homepage--links {
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #d9c485;
  color: white;
  transition: 0.2s;
}

.homepage--links:hover {
  background-color: white;
  color: #6499a2;
}

.homepage--links--blue {
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #6499a2;
  color: white;
  transition: 0.2s;
}

.homepage--links--blue:hover {
  background-color: white;
  color: #d9c485;
}

.section {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.section__header {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__header .homepage {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section__header .homepage__logo {
  height: 350px;
  pointer-events: none;
}
.section__header .homepage__title {
  font-size: 48px;
  color: white;
  margin-top: 50px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 900;
  text-align: center;
}
.section__rooms {
  padding: 30px;
  width: 60%;
}
.section__monsters {
  padding: 30px;
  width: 60%;
}
.section__treasures {
  padding: 30px;
  width: 60%;
}
.section .section__part--blue {
  background-color: #6499a2;
}

@media (prefers-reduced-motion: no-preference) {
  .homepage__logo {
    animation: homepage__logo-spin infinite 15s linear;
  }
}
@keyframes homepage__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rooms h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 25px;
  margin: 5px 0;
  margin-bottom: 30px;
}

.monsters__info {
  margin-bottom: 30px;
}
.monsters__info h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 25px;
}
.monsters__info p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 20px;
  margin: 5px 0;
}

.treasures__info {
  margin-bottom: 30px;
}
.treasures__info h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 25px;
}
.treasures__info p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 20px;
  margin: 5px 0;
}

/*# sourceMappingURL=App.css.map */
